//grid definatins
$grid-width: 198rem 
$gutter-vertical: 5rem
$gutter-horizontal: 6rem

//default font size
$default--font-size: 1.6rem

//color definitions for project
$color-primary: #26afeb
$color-secondary: #ff951f

$color-white: #fff
$color-black: #000

$color-grey-light: #f0f3f3
$color-grey-dark: #38464d