//grid definatins
$grid-width: 198rem 
$gutter-vertical: 5rem
$gutter-vertical-big: 8rem
$gutter-horizontal: 6rem

//default font size
$default--font-size: 1.6rem

//color definitions for project
$color-primary: #2BC0E4
$color-secondary: #ff951f

$color-white: #fff
$color-black: #000

$color-grey-light: #f0f3f3
$color-grey-dark: #38464d

$color-gradient-1: #2BC0E4
$color-gradient-2: #EAECC6