.resource

    &__logo
        height: 4rem
        display: block
        margin-bottom: 2rem
    
    &__heading
        

    &__link
        color: $color-primary

        &:link,
        &:visited
            text-decoration: none
            

        &:hover,
        &:active
            color: $color-secondary

    &__text
        