//project wide font definitions
body
    font-family: "Lato", sans-serif
    font-weight: 400
    line-height: 1.7rem
    line-break: auto
    // color: $color-black
    // padding: 3rem
    // font-size: $default--font-size

.name-box
    color: $color-grey-dark

    

    &__main
        font-weight: 300
        
    &__sub
        font-weight: 700

.text-box
    display: inline-block
    text-align: center
    color: $color-grey-dark
    text-transform: uppercase
    font-weight: 300
    font-size: 4rem
    line-height: 5rem

.group__heading
    color: $color-grey-dark
    font-size: 2.5rem
    text-transform: uppercase
    font-weight: 300

.resource__heading
    color: $color-primary
    font-size: 1.6rem
    margin-bottom: 1.5rem

    &--premium::after
        content: 'PREMIUM'
        background-color: $color-secondary
        color: $color-white
        display: inline-block
        padding: .1rem .6rem 
        border-radius: .3rem
        font-size: 8px
        margin-left: 1.5rem
        transform: translateY(-.3rem)

.resource__text
    color: $color-grey-dark
    font-size: 1.4rem
    line-height: 1.8
